/*
 * T 奶 DPS 奖励模块,基于BetaYi的脚本改编和优化  --By 牛皮德来
 */


[worldserver]

########################################
# Spec_Reward configuration
########################################
#
#    Spec_Reward.Enable
#        Description: Enable my module and print message at server start
#        Default:     0 - Disabled
#                     1 - Enabled
#
Spec_Reward.Enable = 1
Spec_Reward.Announce = 1

# Description: Which spec player should be reward.
# 1:Tank 2:Healer 4:DPS
# Default: 3 (1+2) Healer+Tank
Spec_Reward.Spec =	3

# Description: Minimal Level of Boss killed should trigger  
Spec_Reward.Level = 80

#Reward Item if DungeonBoss  killed
Spec_Reward.DungeonToken = 38186

#Reward Item if RaidBoss  killed
Spec_Reward.RaidToken = 38186

#Reward Item Count while boss killed
Spec_Reward.TokenCount = 1

# WorldMessage Display In System
Spec_Reward.TankText = "--获得坦克额外奖励!"
Spec_Reward.HealText = "--获得治疗额外奖励!"
Spec_Reward.DPSText = "--获得输出额外奖励!"
