/*
 * T 奶 DPS 奖励模块,基于BetaYi的脚本改编和优化  --By 牛皮德来
 */


[worldserver]

########################################
# Spec_Reward configuration
########################################
#
#    Spec_Reward.Enable   
#    Description:启用模块
#    Spec_Reward.Announce  
#    Description:允许在玩家登陆时候通告
#        Default:     1 - Enabled
#                     0 - Disabled
#
Spec_Reward.Enable = 1
Spec_Reward.Announce = 1

# Description: 哪些类型的职业可以获取奖励.
# 1:Tank 2:Healer 4:DPS
# Default: 3 (1+2) Healer+Tank
Spec_Reward.Spec =	3

# Description: 获取奖励的Boss最低等级  
Spec_Reward.Level = 80

#普通本奖励
Spec_Reward.DungeonToken = 38186

#团队本奖励
Spec_Reward.RaidToken = 38186

#获得奖励的数量
Spec_Reward.TokenCount = 1

# 对应职业通告的文本
Spec_Reward.TankText = "--获得坦克额外奖励!"
Spec_Reward.HealText = "--获得治疗额外奖励!"
Spec_Reward.DPSText = "--获得输出额外奖励!"
